<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="C:/Users/Admin/web1/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="C:/Users/Admin/web1/css/styles.css">
        <link rel="stylesheet" href="C:/Users/Admin/web1/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="C:/Users/Admin/web1/bootstrap-social/bootstrap-social.css">
        
    </head>
   <body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="col-10 col-sm-9" style="text-align: center;">
      <h1 class="word"> Your Profile &nbsp;<img src="edit.png" style="width: 40px;">  </h1></div>
      <div class="col-2 col-sm-3">
      <a href="/base" class="btn btn-primary">Back</a></div> </nav>
        <div class="container">
    <div class="row row-content">
       
            <div class="col-4 col-md-4"></div><div class="col-8 col-md-8">
            <img src="av.png" style="width: 150px; padding-bottom: 20px;"></div> 
          {{#if success}}<div class="col-md-10"><div class="alert alert-success"  role="alert">{{success}}</div></div>
            {{else}} {{#if error}}<div class="col-md-9"><div class="alert alert-danger"  role="alert">{{error}}</div></div>
            {{else}}{{/if}}{{/if}}
         <div class="col-12 col-md-10">
             <form name="myForm" action="/edit/update/{{_id}}" method="post">
                 <div class="form-group row">
                     <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                     <div class="col-md-10">
                         <input type="text" class="form-control" id="firstname" name="firstname" 
                         value="{{firstname}}"
                         pattern="[a-zA-Z]+" required>
                     </div> </div> 
                     <div class="form-group row">
                     <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                     <div class="col-md-10">
                         <input type="text" class="form-control" id="lastname" name="lastname" 
                         value="{{lastname}}" pattern="[a-zA-Z]+" required>
                     </div>
                 </div>
                 <div class="form-group row">
                     <label for="contact" class="col-12 col-md-2 col-form-label">Contact</label>
                     <div class="col-md-10">
                         <input type="text" class="form-control" id="contact" name="contact"  maxlength="10"
                         value="{{contact}}" pattern="[0-9]{10}" required>
                     </div>
                 </div>
                 <div class="form-group row">
                     <label for="email" class="col-md-2 col-form-label">Email</label>
                     <div class="col-md-10">
                         <input type="text" class="form-control" id="email" name="email" disabled=true
                         value="{{email}}" 
                         pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"  required>
                     </div> 
                    </div> 
                    
                     
                         
                         <div class="form-group row"><div class="col-5 col-sm-5"></div>
                             <div class="col-5 ">
                                 <button type="submit"  class="btn btn-primary"> Update </button>
                                 
                             </div>
                         </div>

                  
             </form>
         </div>
         
    </div></div>
    

    <script src="C:/Users/Admin/web1/jquery/dist/jquery.slim.min.js"></script>
    <script src="C:/Users/Admin/web1/popper.js/dist/umd/popper.min.js"></script>
    <script src="C:/Users/Admin/web1/bootstrap/dist/js/bootstrap.min.js"></script>
   </body>
   
</html>