<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css">
    <style>
    	canvas {width: 20%; height: 20%;}
        .dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
   display: block;
   width:100%;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color:chocolate;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
   overflow-x: auto;
}

.dropdown-content a:hover {background-color:lightblue;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
    </style>
</head>
<title>Custard Apple Animations</title><link rel = "icon" href ="/icon.PNG" style="width:200px;" type = "image/x-icon"> 
<body style="background-image: url('/1\ \(7\).jpeg');
background-repeat: no-repeat;width:100%;  background-size: cover; height:auto; background-position: center;
background-attachment: fixed;">
<nav class="navbar navbar-dark navbar-expand-sm fixed-top" >
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">  
        <span class="navbar-toggler-icon"></span>
    </button><a href="index.html#index"><img src="icon.PNG" height="50" width="70" class=" d-none d-md-block" style="left: 0; top: 0; position: fixed;" ></a>
    <a class="navbar-brand d-block d-md-none" href="#"><img src="icon.PNG" height="30" width="40" ></a>
    <div class="collapse navbar-collapse" id="Navbar">
    <ul class="navbar-nav mr-auto">
       <!-- <li class="nav-item active"><a class="nav-link"  href="index.html" ><img src="home.png" style="width: 30px;"> Home</a></li>-->
        <li class="nav-item active"><a class="nav-link" href="index.html#about" ><img src="ab.png" style="width: 30px;">About Us</a></li>
        <li class="nav-item active"><a class="nav-link" href="/base" ><img src="cube.png" style="width: 30px;"> 3D Models</a></li>
        <li class="nav-item active"><a class="nav-link" href="index.html#service" ><img src="serv.png" style="width: 30px;"> Services</a></li>
        <li class="nav-item active"><a class="nav-link" href="index.html#careers" ><img src="care.png" style="width: 30px;"> Careers</a></li>
        <li class="nav-item active"><a class="nav-link" href="/con" ><img src="cont.png" style="width: 30px;"> Contact Us</a></li>
    </ul>
    <span class="navbar-text">
        <a href="/icart1"><img src="cart2.png" style="width: 40px;"><span class="badge" 
        style="border-radius: 50%;
    width: auto; background:yellow;
    height: auto;
    padding: 2px;
    border: 4px solid yellow; left:-6px;
    text-align: center; color:darkmagenta">
           {{ct}} </span>&nbsp; Cart</a>
    
     <a href="/ord"><img src="wishl.png" style="width: 40px;">Wishlist</a>
    <a>&nbsp;</a> 
    {{#if user}} 
    <div class="dropdown">
     <a> <span class="fa fa-user-circle fa-lg"  style="color:aqua;"></span>&nbsp;My Profile</a> &nbsp;
      <div class="dropdown-content">
         <a style="color: black;">{{#each user}}{{this.firstname}}&nbsp;{{this.lastname}}{{/each}}</a>
          <a href="/myord" style="color: black;"><img src="bags.png" style="width: 50px;">&nbsp;My Orders</a>
         <a href="/edit" style="color: black;"><img src="pen.png" style="width: 50px;">&nbsp;&nbsp;Edit Profile</a>
        <a href="/userpass" style="color: black;"><img src="key.png" style="width: 50px;">&nbsp;&nbsp;Change Password  </a>
        <a href="#" id="loginid1" style="color: black;"><img src="trash.png" style="width: 50px;">&nbsp;&nbsp;Delete Account</a>
      </div>
     </div>
      <a href="auth/logout"><img src="logout.png" style="width: 30px;">&nbsp;Logout</a>

     
     
    {{else}}
    
        <a href="#" id="loginid">
         <img src="log.png" style="width: 30px;"> Login</a>
    <a>&nbsp;</a>
        <a href="/employee" action="">
        <img src="signup.png" style="width: 30px;"> Signup</a>
    </span>
{{/if}}
   
    
</div>
</div>
</nav>
 <div id="loginModal1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
       
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete this account? </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>&nbsp;&nbsp;
            </div>
            <div class="modal-body">&nbsp;&nbsp;
                    <a {{#each user}}href="/edit/delete/{{this._id}}" {{/each}} class="btn btn-danger">Delete</a>
                   <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button><br>
                     <B>Deleting your account will delete all data related to it permanently. This action cannot be undone.</B>
            </div>
        </div>
    </div>
</div>
<div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" role="content">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Login </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                       
                            <a href="/admin" class="btn btn-primary">Login as Admin</a>
                            &nbsp;&nbsp;<a href="/login" class="btn btn-success">Login as User</a>
                            &nbsp;  Don't have an account? <a href="/employee">Signup </a>
                    
                    </div>
                </div>
            </div>
        </div>
        <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                   <I><B> <h1 style="color: palevioletred;font-family:cursive">Custard Apple Animation Pvt Ltd </h1></B></I>
                   </div> <div class="col-12 col-sm-6">
               
                    <img src="icon.PNG" style="width: 200px;" class="img-fluid"></div>
                
            </div>
        </div>
    </header>
<div class="container"> 
             <div class="row">
                <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                <li class="breadcrumb-item active"><a href="/base">3d Models</a></li>
            </ol> </div> <div class="container"> 
                <div class="row row-content" style="align-items: center;">
            <h1>COMING SOON....</h1></div>
             <!--
            <div class="col-3 col-sm-4"><form id="fil" method="POST" action="/filter">
                <select id="filters" name="filters" style="max-width: 200px; overflow-x:auto; height:100px;" 
                 data-style="btn-default" class="selectpicker form-control" multiple required>
               {{#each cap1}}
                <option value="{{#each this}}{{this.name}}{{/each}}">{{#each this}}{{this.name}}{{/each}}</option> {{/each}}
                </select><br>
                <button class="btn btn-info btn-md"  style=" background:orange; " id="sub" type="submit" >
                    <i class="fa fa-filter">&nbsp;Filter</i></button>
                </form>
             </div>
            <div class="col-sm-4">{{#if success}}<div class="alert alert-success" style="overflow-x: auto;" role="alert">
             {{success}}</div>
            {{else}} {{#if error}}<div class="alert alert-danger"  role="alert">{{error}}</div>
            {{else}}{{/if}}{{/if}}
            </div>
            <div class="col-sm-4">
             <input type="text" id="myInput" style="padding-left: 2.375rem;  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;background-color: white;
  background-image: url('search.png');
  background-position: 10px 10px; 
  background-size: 25px;
  background-repeat: no-repeat;  padding: 12px 20px 12px 40px;" autofocus:true onkeyup="myFunction()" placeholder="Search for models.."> 
             </div>
             
              <hr></div>
             <table id="myTable">  
                  <script src="script.js"></script>
     <tr><div class="row row-content">
  {{#each thumb}}
     <div class="card" id="card">
         <div class="imgs" style="height: 250;">
         <img src="data:img/fbx;base64,{{#each this}}{{this.img.base}}{{/each}}"  style="height: 100%; width:100%"></div><br>
     <h5 class="card-title" id="mname" style="width: 100%; height:20%;  overflow-y:auto; color:black; ">{{#each this}}{{this.name}}{{/each}}</h5> 
     <a style="width: 100%; height:20%; color:black; ">{{#each this}}{{this.desc}}{{/each}}</a> 
    
     <div class="cost" style="width: 150;"><span class="badge badge-dark" style="width:100%; ">Rs.{{#each this}}{{this.price}}{{/each}}/-</span> </div>
      <p></p><a {{#each this}}href="/cart1/{{this._id}}"{{/each}} class="btn btn-info btn-sm" style="width: 100%; background:cornflowerblue; ">
        <i class="fa fa-shopping-cart"></i> Add to Cart</a> 
          <form method="post" {{#each this}}action="/wish/{{this._id}}"{{/each}}>
          <button class="btn btn-info btn-sm" style="width: 100%; background:royalblue; "  id="btnt" type="submit"
          onClick="this.form.submit();" >
          <i class="fa fa-heart" style="color: red;"></i> &nbsp;Wishlist</button></form></p>  
            </div>
    {{/each}}</div></tr>
</table>--> <div id="mySidenav" class="sidenav">
    <a class="btn btn-social-icon btn-google" id="google" href="https://www.google.com/search?sxsrf=ALeKk016b5DbllkFu8NeFCg0IswOywvj9Q%3A1609402446207&ei=TojtX_aADKCb4-EPnOWn2Ac&q=custard+apple+animation+pvt+ltd&oq=Cusra&gs_lcp=CgZwc3ktYWIQAxgAMgcIIxCxAhAnMgoILhCxAxDJAxBDMgcILhCxAxBDMgcIABCxAxBDMgQIABBDMgQIABAKMgcIABCxAxAKMgcIABCxAxBDMgcIABCxAxAKMgcIABCxAxAKOgQIIxAnOgcIABDJAxBDOgUIABCxAzoCCAA6CAguELEDEIMBOgUIABCRAjoECC4QQzoICAAQsQMQgwE6BQguELEDOg4ILhDHARCvARDJAxCTAjoCCC46BggAEAoQQzoKCC4QsQMQgwEQCjoECC4QClCphAdYnooHYI6TB2gAcAF4AIABxwGIAaMGkgEDMC41mAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=psy-ab"><i class="fa fa-google fa-lg "></i></a>
            <a class="btn btn-social-icon btn-facebook" id="fb" href="https://www.facebook.com/Custard-Apple-Animation-Pvt-Ltd-112928893410891"><i class="fa fa-facebook fa-lg"></i></a>
            <a class="btn btn-social-icon btn-linkedin" id="lin" href="https://www.linkedin.com/company/67337097/admin/"><i class="fa fa-linkedin fa-lg"></i></a>
            <a class="btn btn-social-icon btn-ins" id="ins" href="https://www.instagram.com/custardappleanimation/"><i class="fa fa-instagram fa-lg"></i></a>
            <a class="btn btn-social-icon btn-google" id="you" href="https://www.youtube.com/channel/UC1HQw0_vnj6fPxCzDn4pYiQ"><i class="fa fa-youtube fa-lg"></i></a>
            <a class="btn btn-social-icon" id="mail" href="mailto:custardappleanimation@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
</div>
 </div>
   <footer class="footer"  >
        <div class="container">
            <div class="row">        <!--     
                <div class="col-3 offset-1 col-sm-2">
                    <h5 style="color: beige;">Links</h5>
                    <ul class="list-unstyled" >
                        <li><a style="color: beige;" href="index.html">Home</a></li>
                        <li><a style="color: beige;" href="index.html#about">About Us</a></li>

                        <li><a style="color: beige;" href="/base">3D Models</a></li>
                        <li><a style="color: beige;" href="index.html#service">Services</a></li>
                        <li><a style="color: beige;" href="index.html#careers">Careers</a></li>
                        <li><a style="color: beige;" href="/con">Contact Us</a></li>
                    </ul>
                </div>-->
                <div class="col-12 col-sm-7">
                    
                    <address><h5 style="color: white;">Our Address&nbsp;<img src="add.png" style="width: 50px;"></h5>
                        Sr. no. 20/2, 2nd floor, Bandal Building, oppo. PDCC Bank, Kashinath Patil Nagar, Dhanakawadi, Pune 043<br>
		              <i class="fa fa-phone fa-lg"></i>:<a style="color: white;" href="tel:7387333896"> 7387333896</a> <br>
                      <i class="fa fa-mobile fa-lg"></i>:<a style="color: white;" href="tel:8421127578"> 8421127578</a><br>
                      <i class="fa fa-envelope fa-sm"></i>: 
                      <a style="color: white;" href="mailto:custardappleanimation@gmail.com">custardappleanimation@gmail.com</a><br>
                      <i class="fa fa-lock fa-lg"></i>&nbsp;<a href="pp.html" style="color: beige;" >Privacy Policy</a><br><br>
		           </address>
                </div>
                <div class="col-12  col-sm-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15137.496049174997!2d73.8594434!3d18.4667103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xecfefd19202a896d!2sCustard%20Apple%20Animation%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1609403204131!5m2!1sen!2sin"
                 width="300" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                    
           </div>
<!--
           <div class="row">     <div class="col-4 col-sm-5">&nbsp;</div>
           <div style="color: white;" class="col-8 col-sm-7">  
            <br>
               <a href="pp.html" style="color: beige;" >Privacy Policy</a>   
            </div></div>--><div class="row"><div class="col-sm-4">&nbsp;</div>
            <div style="color: white;"class="col-12 col-sm-8">             
                
                   © Copyright 2020 Custard Apple Animation Pvt.Ltd
                
           </div></div>
        </div>
    </footer>
    <script>
        
        $(document).ready(function(){
                $("#loginid").click(function(){
                $("#loginModal").modal('show');
            })
        });
        function changeText() {
            /*
  var dots = document.getElementById("dots");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Wishlist"; 
    
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Added to wishlist"; 
    
  } */
  var btnText = document.getElementById("myBtn");
   btnText.innerHTML = "Added to wishlist"; 
}
 function disableButton() {
        var btn = document.getElementById('btnt');
        btn.disabled = true;
        btn.innerText = 'AddedtoWishlist'
    }

    function myFunction() {
  let input = document.getElementById('myInput').value 
    input=input.toLowerCase(); 
    let x = document.getElementsByClassName('card'); 
      
    for (i = 0; i < x.length; i++) {  
        if (!x[i].innerHTML.toLowerCase().includes(input)) { 
            x[i].style.display="none"; 
        } 
        else { 
            x[i].style.display="";                  
        } 
    } 
    }
    document.getElementById('sub').onclick = function() {
  var selected = [];
  for (var option of document.getElementById('filters').options) {
    if (option.selected) {
      selected.push(option.value);
    }
  }
 console.log(selected);
}
 $(document).ready(function(){
            $("#loginid1").click(function(){
            $("#loginModal1").modal('show');
        })
    });
    </script> 
    

</body>
</html>

