<body>
   <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="col-10 col-sm-10" style="text-align: center;">
            <h1 class="word"> Contact Us List</h1></div>
            <div class="col-2 col-sm-2">
             <a href="/ind1/dashboard1" class="btn btn-primary">Back</a></div> </nav>
<div>  
    <div class="row row-content">   <div class="col-5 col-sm-12">
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Contact </th>
            <th> Email </th>
            <th> Message </th>
             <th> Timestamp </th>
        </tr>
    </thead>
        <tbody>  {{#each thumb}} 

            <tr> 
                <td> {{#each this}}{{this._id}}{{/each}} </td> 
           <td> {{#each this}}{{this.firstname}}{{/each}} </td> 
             <td> {{#each this}}{{this.lastname}}{{/each}} </td> 
               <td> {{#each this}}{{this.contact}}{{/each}} </td> 
               <td> {{#each this}}{{this.email}}{{/each}} </td> 
               <td> {{#each this}}{{this.message}}{{/each}} </td> 
                <td> {{#each this}}{{this.date}}{{/each}} </td> 
            </tr> 
             {{/each}}
          
    </tbody>
    
</table></div></div>
</body>