<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css">
  
</head>

<body>
   <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="col-6 col-sm-8" style="text-align: center;">
            <h1 class="word"> All Orders</h1></div>
            <div class="col-4 col-sm-2" >
            <h3 class="word"> Total={{ct}} </h1></div>
            <div class="col-2 col-sm-2">
             <a href="/ind1/dashboard1" class="btn btn-primary">Back</a></div> </nav>

          <div class="row row-content">   <div class="col-5 col-sm-12">
{{#if orders}}
<table class="table table-striped">
    <thead>
        <tr>
        <th>Sr.No</th>
        <th>Ordered By</th>
        <th>Email-id</th>
        <th>Name</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Ordered On</th>
        </tr>
    </thead>
    <tbody> <script type="text/javascript"> var i=1; </script>
        {{#each orders}} 
        
<tr><script type="text/javascript">for( ;i<=orders.length;i++)</script>
 <td><script type="text/javascript">  {
    document.write(i); i++;
     }</script></td>
     <td>{{#each this}}{{this.firstname}}{{/each}}</td> 
     <td>{{#each this}}{{this.email}}{{/each}}</td> 
 <td>{{#each this.items}}{{this.item.name}}{{/each}}</td> 
<td><img src="data:img/fbx;base64,{{#each this.items}}{{this.item.img.base}}{{/each}}"  height="100" width="100"></td>
 <td>{{#each this.items}}{{this.item.price}}{{/each}}</td>
 <td>{{#each this}}{{this.qty}}{{/each}}</td>
 <td>{{#each this}}{{this.totalprice}}{{/each}}</td>
 <td>{{#each this}}{{this.date}}{{/each}}</td>
 <!--<td><form method="post" {{#each this}}action="/all/reduce/{{this._id}}"{{/each}}>
<button class="btn btn-success" type="submit">Delivered(this option not reqd)</button></form></td>-->
</tr>{{/each}}</tbody>
</table><br>

</div> 
{{else}}
No orders yet!
{{/if}}



 </div>
<script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
   
    <script>
        
        $(document).ready(function(){
                $("#loginid").click(function(){
                $("#loginModal").modal('show');
            })
        });
    </script> 
    
 
</body>
</html>