<html lang="en">

<body> 
 <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="col-10 col-sm-10" style="text-align: center;">
            <h1 class="word"> Customer List</h1></div> 
            <div class="col-2 col-sm-2">
            <a href="/ind1/dashboard1" class="btn btn-primary">Back</a></div> </nav>
<div>  
    <div class="row row-content">  <div class="col-5 col-sm-12">     
<table class="table table-striped">
    <thead>
        <tr><th>Sr.No</th>
           <!-- <th>id</th>-->
            <th> Name </th>
            <th> Contact </th>
            <th> Email </th>
            <th> Password </th>
            <th> Signed Up On </th>
        </tr>
    </thead>
        <tbody>   <script type="text/javascript"> var i=1; </script>    
             {{#each thumb}} 

            <tr> <script type="text/javascript">for( ;i<=orders.length;i++)</script>
            <td><script type="text/javascript">  {document.write(i); i++; }</script></td>
           <!-- <td> {{#each this}}{{this._id}}{{/each}}</td> -->
           <td> {{#each this}}{{this.firstname}}&nbsp;{{this.lastname}}{{/each}} </td> 
               <td> {{#each this}}{{this.contact}}{{/each}} </td> 
               <td> {{#each this}}{{this.email}}{{/each}} </td> 
               <td> {{#each this}}{{this.password}}{{/each}} </td> 
                <td> {{#each this}}{{this.date}}{{/each}} </td> 
            </tr> 
             {{/each}}          
    </tbody>
    
</table> </div> 
</div></div></body>
 